<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta th:include="fragments/head :: metas" th:remove="tag"/>

    <title>test</title>

    <style th:include="fragments/head :: styles" th:remove="tag"/>
    <script th:include="fragments/head :: scripts" th:remove="tag"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="/js/test.js"></script>
    <script>
        $( document ).ready(function() {
            console.log( "initializing" );
            init();
        });
    </script>

</head>
<body>
<div th:insert="/fragments/menu :: menu">
</div>
<div th:insert="/fragments/header :: header">
</div>
<p class="">This is the Test page</p>
<p/>

<div class="container">
    <!--  A reference to an empty table -->
    <table id="testTable" class="display mx-auto">
    </table>
</div>
<p/>

<div id="testModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Test</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                <form id="stockForm">
                    <div class="form-group">
                        <input type="text" class="d-none form-control" id="id" value="0">
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label for="name">Name:</label>-->
<!--                        <input type="text" class="form-control" id="name">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="recentAmount">Recent Amount:</label>-->
<!--                        <input type="number" class="form-control" id="recentAmount"  name="recentAmount">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="minAmount">Min Amount:</label>-->
<!--                        <input type="number" class="form-control" id="minAmount" name="minAmount">-->
<!--                    </div>-->

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

<div class=“row”>
    <div class=“col-md-12” style="display:flex; justify-content: space-between; width:800px;margin-left:350px;">
        <button type="button" class="btn btn-primary" id="newStockButton" style="margin-left:20px;">New Test</button>
        <button type="button" class="btn btn-primary" id="editStockButton">Edit Test</button>
        <button type="button" class="btn btn-danger " id="deleteStockButton">Delete Test</button>
    </div>
</div>

<div id="testDeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Test</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" id="deleteStockConfirmButton" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-secondary room-close-button" data-dismiss="modal">Cancel</button>
            </div>

        </div>

    </div>
</div>

<div th:insert="/fragments/footer :: footer">
</div>

</body>
</html>